*~
/coverage
/pkg
/rdoc
/test_app/db/schema.rb
/test_app/db/migrate/*_create_impressions_table.rb
/test_app/doc
/test_app/test
/test_app/vendor
Gemfile.lock
gemfiles/*.lock
.DS_Store
*.swo
.vscode/
spec/dummy/tmp
spec/dummy/db/test.sqlite3*
spec/dummy/log/*
