language: ruby
before_install:
  - gem install bundler
before_script:
  - cd tests/test_app
  - bundle exec rails g impressionist -f
  - bundle exec rake db:create db:migrate RAILS_ENV=test
  - cd ..
script:
  - bundle exec rake
rvm:
  - 1.9.3
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.3.0
  - jruby-head
  - rbx
  - ruby-head
gemfile:
  - gemfiles/rails32.gemfile
  - gemfiles/rails40.gemfile
matrix:
  allow_failures:
    - rvm: jruby-head
    - rvm: rbx
    - rvm: ruby-head
  fast_finish: true
notifications:
  email:
    - acnalesso@yahoo.co.uk
    - john@couponshack.com
    - mmcmahand@gmail.com
