language: ruby

bundler_args: '--binstubs --without documentation'
before_install: gem install bundler

before_script: "cd tests/test_app && bundle install && ./script/rails generate impressionist -f && rake db:migrate && cd .."

rvm:
  - rbx-18mode
  - rbx-19mode
  - 1.8.7
  - 1.9.2
  - 1.9.3
  - ruby-head

matrix:
  allow_failures:
      - rvm: rbx-18mode
      - rvm: 1.8.7
      - rvm: 1.9.2
      - rvm: ruby-head
