<!DOCTYPE html>
<html>
<head>
  <title>Impressionist</title>
  <%= stylesheet_link_tag    "impressionist/application", :media => "all" %>
  <%= javascript_include_tag "impressionist/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
